<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
<head>
<title>{{.params.html_title}}</title>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" id="cf_styles-css" href="{{.resources_cdn}}/cdn-cgi/styles/main.css" />
</head>
<body>
<div id="cf-wrapper">
    <div id="cf-error-details" class="p-0">
        <header class="mx-auto pt-10 lg:pt-6 lg:px-8 w-240 lg:w-full mb-8">
            <h1 class="inline-block sm:block sm:mb-2 font-light text-60 lg:text-4xl text-black-dark leading-tight mr-2">
                <span class="inline-block">{{.params.title}}</span>
                <span class="code-label">Error code {{.params.error_code}}</span>
            </h1>
            {{if not .params.more_information.hidden}}
            <div>
                Visit <a href="{{.params.more_information.link}}" target="_blank" rel="noopener noreferrer">{{.params.more_information.text}}</a> for {{.params.more_information.for}}.
            </div>
            {{end}}
            <div class="mt-3">{{.params.time}}</div>
        </header>
        <div class="my-8 bg-gradient-gray">
          <div class="w-240 lg:w-full mx-auto">
                <div class="clearfix md:px-8">
                    <div id="cf-browser-status" class="{{.browser_status.ErrorClass}} relative w-1/3 md:w-full py-15 md:p-0 md:py-8 md:text-left md:border-solid md:border-0 md:border-b md:border-gray-400 overflow-hidden float-left md:float-none text-center">
                        <div class="relative mb-10 md:m-0">
                            <span class="cf-icon-{{.browser_status.Icon}} block md:hidden h-20 bg-center bg-no-repeat"></span>
                            <span class="cf-icon-{{.browser_status.Status}} w-12 h-12 absolute left-1/2 md:left-auto md:right-0 md:top-0 -ml-6 -bottom-4"></span>
                        </div>
                        <span class="md:block w-full truncate">{{.browser_status.Location}}</span>
                        <h3 class="md:inline-block mt-3 md:mt-0 text-2xl text-gray-600 font-light leading-1.3">{{.browser_status.Name}}</h3>
                        <span class="leading-1.3 text-2xl" style="color: {{.browser_status.StatusTextColor}}">{{.browser_status.StatusText}}</span>
                    </div>
                    <div id="cf-cloudflare-status" class="{{.cloudflare_status.ErrorClass}} relative w-1/3 md:w-full py-15 md:p-0 md:py-8 md:text-left md:border-solid md:border-0 md:border-b md:border-gray-400 overflow-hidden float-left md:float-none text-center">
                        <div class="relative mb-10 md:m-0">
                            <span class="cf-icon-{{.cloudflare_status.Icon}} block md:hidden h-20 bg-center bg-no-repeat"></span>
                            <span class="cf-icon-{{.cloudflare_status.Status}} w-12 h-12 absolute left-1/2 md:left-auto md:right-0 md:top-0 -ml-6 -bottom-4"></span>
                        </div>
                        <span class="md:block w-full truncate">{{.cloudflare_status.Location}}</span>
                        <h3 class="md:inline-block mt-3 md:mt-0 text-2xl text-gray-600 font-light leading-1.3" style="color: #2f7bbf;">{{.cloudflare_status.Name}}</h3>
                        <span class="leading-1.3 text-2xl" style="color: {{.cloudflare_status.StatusTextColor}}">{{.cloudflare_status.StatusText}}</span>
                    </div>
                    <div id="cf-host-status" class="{{.host_status.ErrorClass}} relative w-1/3 md:w-full py-15 md:p-0 md:py-8 md:text-left md:border-solid md:border-0 md:border-b md:border-gray-400 overflow-hidden float-left md:float-none text-center">
                        <div class="relative mb-10 md:m-0">
                            <span class="cf-icon-{{.host_status.Icon}} block md:hidden h-20 bg-center bg-no-repeat"></span>
                            <span class="cf-icon-{{.host_status.Status}} w-12 h-12 absolute left-1/2 md:left-auto md:right-0 md:top-0 -ml-6 -bottom-4"></span>
                        </div>
                        <span class="md:block w-full truncate">{{.host_status.Location}}</span>
                        <h3 class="md:inline-block mt-3 md:mt-0 text-2xl text-gray-600 font-light leading-1.3">{{.host_status.Name}}</h3>
                        <span class="leading-1.3 text-2xl" style="color: {{.host_status.StatusTextColor}}">{{.host_status.StatusText}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-240 lg:w-full mx-auto mb-8 lg:px-8">
            <div class="clearfix">
                <div class="w-1/2 md:w-full float-left pr-6 md:pb-10 md:pr-0 leading-relaxed">
                    <h2 class="text-3xl font-normal leading-1.3 mb-4">What happened?</h2>
                    {{if .allow_html}}{{safe .params.what_happened}}{{else}}{{.params.what_happened}}{{end}}
                </div>
                <div class="w-1/2 md:w-full float-left leading-relaxed">
                    <h2 class="text-3xl font-normal leading-1.3 mb-4">What can I do?</h2>
                    {{if .allow_html}}{{safe .params.what_can_i_do}}{{else}}{{.params.what_can_i_do}}{{end}}
                </div>
            </div>
        </div>

        <div class="cf-error-footer cf-wrapper w-240 lg:w-full py-10 sm:py-4 sm:px-8 mx-auto text-center sm:text-left border-solid border-0 border-t border-gray-300">
            <p class="text-13">
                <span class="cf-footer-item sm:block sm:mb-1">Ray ID: <strong class="font-semibold">{{.params.ray_id}}</strong></span>
                <span class="cf-footer-separator sm:hidden">&bull;</span>
                <span id="cf-footer-item-ip" class="cf-footer-item hidden sm:block sm:mb-1">
                    Your IP:
                    <button type="button" id="cf-footer-ip-reveal" class="cf-footer-ip-reveal-btn">Click to reveal</button>
                    <span class="hidden" id="cf-footer-ip">{{.params.client_ip}}</span>
                    <span class="cf-footer-separator sm:hidden">&bull;</span>
                </span>
                <span class="cf-footer-item sm:block sm:mb-1"><span>Performance &amp; security by</span> <a rel="noopener noreferrer" href="{{.params.perf_sec_by.link}}" id="brand_link" target="_blank">{{.params.perf_sec_by.text}}</a></span>

                {{if not .params.creator_info.hidden}}
                <span class="cf-footer-separator sm:hidden">&bull;</span>
                <span class="cf-footer-item sm:block sm:mb-1">Created with <a href="{{.params.creator_info.link}}" target="_blank">{{.params.creator_info.text}}</a></span>
                {{end}}
            </p>
        </div><!-- /.error-footer -->
    </div>
</div>
<script>(function(){function d(){var b=a.getElementById("cf-footer-item-ip"),c=a.getElementById("cf-footer-ip-reveal");b&&"classList"in b&&(b.classList.remove("hidden"),c.addEventListener("click",function(){c.classList.add("hidden");a.getElementById("cf-footer-ip").classList.remove("hidden")}))}var a=document;document.addEventListener&&a.addEventListener("DOMContentLoaded",d)})();</script>
</body>
</html>
